<div class='form-group now'>
    <label class='col-sm-2 col-form-label'>
        Select Student
    </label>
    <div class='col-sm-10'>
        <select class="form-control" [(ngModel)]='idStudent'>
            <option *ngFor='let student of studentList' 
                        [ngValue]='student'>
                        {{student.firstName}} 
                        {{student.lastName}}
            </option>
          </select>
    </div>
    <label class='col-sm-2 col-form-label'>
        Select Course
    </label>
    <div class='col-sm-10'>
        <select class="form-control" [(ngModel)]='idCourse'>
            <option *ngFor='let course of courseList' 
                        [ngValue]='course'>
                        {{course.name}} 
                        {{course.subject}}
            </option>
          </select>
    </div>
    
</div>

<button (click) = 'addStudentCourse()' *ngIf='studcour.id == 0' class='btn btn-primary'>
    Add
</button>

<button (click) = 'updateStudentCourse()' *ngIf='studcour.id != 0' class='btn btn-primary'>
    Update
</button>